:root {
  --_desktop---font--headers-d: Inconsolata, monospace;
  --_desktop---font--header-1-d: 1.5rem;
  --_desktop---font--header-2-d: 1.3rem;
  --color--background: #0a0a0a;
  --_desktop---font--paragraph-d: Inter, sans-serif;
  --color--paragraph: #929292;
  --_desktop---font--body-1-d: .9375rem;
  --color--header-2: #c1c1c1;
  --color--stroke: #282828;
  --_desktop---corners--corners-small-d: .4rem;
  --color--darkest-boxes: #040404;
  --_desktop---bottom-margin-d: 3.5rem;
  --_desktop---corners--corners-large-d: 1.25rem;
  --color--footer-text: #616161;
  --_mobile---corners--corners-large-m: .9rem;
  --_mobile---font--body-1-m: .85rem;
  --color--accent-text: #464646;
  --_desktop---font--header-sections-d: 1rem;
  --_mobile---font--header-sections-m: .9rem;
  --_desktop---font--body-2-d: .9rem;
  --_mobile---font--header-1-m: 1.2rem;
  --color--icon-background: #141414;
  --max-width-d: 1500px;
  --color--header-1: #e6e6e6;
  --_desktop---font--button-small-d: .85rem;
  --_mobile---font--button-small-m: .75rem;
  --_mobile---font--button-large-m: .9rem;
  --_desktop---font--footer-copyright-d: .7rem;
  --color--button-text: white;
  --_mobile---corners--corners-small-m: .3rem;
  --_desktop---font--button-large-d: 1.0625rem;
  --_desktop---font--footer-text-d: 1.3125rem;
  --_mobile---font--headers-m: Inconsolata, monospace;
  --_mobile---font--paragraph-m: Inter, sans-serif;
  --_mobile---font--footer-text-m: 1rem;
  --_mobile---font--footer-copyright-m: .75rem;
}

h1 {
  font-family: var(--_desktop---font--headers-d);
  font-size: var(--_desktop---font--header-1-d);
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  line-height: 44px;
}

h2 {
  font-family: var(--_desktop---font--headers-d);
  font-size: var(--_desktop---font--header-2-d);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.875rem;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}

p {
  margin-bottom: 0;
  line-height: 1.0625rem;
}

img {
  object-fit: cover;
  max-width: 100%;
  display: inline-block;
}

.body {
  background-color: var(--color--background);
  font-family: var(--_desktop---font--paragraph-d);
  color: var(--color--paragraph);
  font-size: var(--_desktop---font--body-1-d);
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: block;
  overflow: visible;
}

.navbar {
  font-family: var(--_desktop---font--headers-d);
  color: var(--color--header-2);
  text-transform: uppercase;
  background-color: #0000;
  justify-content: space-around;
  align-items: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
  font-weight: 700;
  display: flex;
  position: relative;
}

.container-site {
  max-width: 1600px;
}

.section-hero {
  height: 70vh;
}

.nav-left {
  float: left;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  display: inline-block;
}

.brand {
  position: absolute;
  inset: 0% auto auto 0%;
}

.link-block {
  width: 12rem;
  margin-top: 1.2rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.link-block.w--current {
  margin-top: auto;
}

.nav-link {
  color: var(--color--header-2);
}

.nav-right {
  float: left;
  flex: 0 auto;
  order: 0;
  justify-content: center;
  align-items: center;
  display: inline-block;
  position: relative;
  inset: 0% 0% auto auto;
}

.nav-item {
  font-family: var(--_desktop---font--headers-d);
  color: var(--color--header-2);
  letter-spacing: .05ch;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  padding: .25rem .9rem;
  font-weight: 600;
}

.nav-item.w--current {
  color: var(--color--header-2);
  margin-top: auto;
}

.nav-item.with-border {
  border: 1px solid var(--color--stroke);
  border-radius: var(--_desktop---corners--corners-small-d);
  background-color: var(--color--darkest-boxes);
  margin-left: .8rem;
  margin-right: 0;
}

.nav-item.with-border.scramble-on-hover {
  transition: border-color .3s;
}

.nav-item.with-border.scramble-on-hover:hover {
  border-color: var(--color--paragraph);
}

.nav-item.scramble-on-hover.case-studies {
  display: none;
}

.carousel-wrapper {
  margin-bottom: var(--_desktop---bottom-margin-d);
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  grid-column-gap: .625rem;
  grid-row-gap: .625rem;
  white-space: nowrap;
  justify-content: center;
  align-items: flex-start;
  width: max-content;
  height: 68vh;
  display: flex;
  overflow: visible;
}

.carousel-item {
  border: 1px #000;
  justify-content: center;
  width: 35vw;
  height: 100%;
  margin-right: 0;
  display: flex;
  position: static;
  overflow: hidden;
}

.carousel-item.active {
  height: 90%;
}

.image {
  border-radius: var(--_desktop---corners--corners-large-d);
}

.carousel-image {
  border: 1px solid var(--color--stroke);
  border-radius: var(--_desktop---corners--corners-large-d);
  width: 100%;
  height: 100%;
}

.image-background {
  z-index: -11;
  opacity: .1;
  width: 100%;
  position: relative;
  inset: 0%;
}

.hero-background {
  position: absolute;
}

.hero-gradient {
  z-index: -10;
  background-image: linear-gradient(180deg, #0a0a0a00 52%, var(--color--background) 97%);
  position: absolute;
  inset: 0%;
}

.supepowers-wrapper {
  margin-bottom: var(--_desktop---bottom-margin-d);
  justify-content: center;
  align-items: flex-start;
  display: block;
}

.container-arrows {
  z-index: auto;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  pointer-events: auto;
  margin-bottom: 3px;
  margin-right: 5px;
  display: flex;
  position: absolute;
  inset: auto 0% 0% auto;
}

.next {
  cursor: pointer;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
}

.next.prev {
  transform: rotate(-180deg);
}

.nav-btn {
  border: 1.7px solid var(--color--header-2);
  cursor: pointer;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  width: 3.3125rem;
  height: 3.3125rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.nav-btn.prev {
  z-index: 10;
  border: 1.7px none var(--color--header-2);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  margin-right: .1rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.nav-btn.next {
  z-index: 10;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-style: none;
  border-radius: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-nav-wrapper {
  z-index: 10;
  cursor: default;
  width: 35vw;
  height: 10%;
  position: absolute;
  inset: auto 50% 0%;
  overflow: hidden;
  transform: translate(-50%);
}

.carousel-info {
  margin-bottom: .2rem;
  margin-left: 5px;
  transition: opacity .3s;
  position: absolute;
  inset: auto auto 0% 0%;
}

.next-copy {
  cursor: pointer;
  display: none;
}

.next-copy.prev {
  transform: rotate(-180deg);
}

.next-wrapper {
  overflow: visible;
}

.next-ripple, .ripple {
  z-index: -2;
  background-color: var(--color--footer-text);
  opacity: 0;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  position: absolute;
}

.arrow-image {
  z-index: 10;
  position: relative;
  transform: rotate(-180deg);
}

.arrow-image.right {
  transform: none;
}

.container-arrows-old {
  z-index: auto;
  grid-column-gap: .5rem;
  grid-row-gap: .5rem;
  pointer-events: auto;
  margin-right: .5rem;
  display: none;
  position: absolute;
  inset: auto 0% 0% auto;
}

.btn-fill {
  z-index: -2;
  background-color: var(--color--footer-text);
  color: #ffffff80;
  cursor: pointer;
  border-radius: 100%;
  width: 101%;
  height: 101%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.code-embed {
  z-index: 10;
  margin-top: 5px;
  padding-top: 0;
  position: relative;
}

.image-2, .arrow-img-next {
  z-index: 10;
  position: relative;
}

.arrow-img-prev {
  z-index: 10;
  position: relative;
  transform: rotate(-180deg);
}

.carousel-title {
  color: var(--color--header-2);
  font-size: var(--_desktop---font--header-2-d);
  margin-bottom: 2px;
  font-weight: 500;
}

.carousel-description {
  line-height: 1rem;
}

.mobile-slider-wrapper {
  margin-bottom: var(--_desktop---bottom-margin-d);
  display: none;
}

.mobile-slider-info-heading, .mobile-slider-info-paragraph {
  transition: opacity .3s;
}

.gradient-line-left {
  z-index: -2;
  background-image: linear-gradient(90deg, var(--color--background), var(--color--accent-text));
  flex: 1;
  height: 1.5px;
  position: relative;
}

.section-title {
  margin-bottom: var(--_desktop---bottom-margin-d);
  justify-content: center;
  align-items: center;
  display: flex;
}

.gradient-line-right {
  z-index: -2;
  background-image: linear-gradient(270deg, var(--color--background), var(--color--accent-text));
  flex: 1;
  height: 1.5px;
  position: relative;
}

.section-header {
  font-family: var(--_desktop---font--headers-d);
  color: var(--color--header-2);
  font-size: var(--_desktop---font--header-sections-d);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 1.2vw;
  margin-right: 1.2vw;
  font-weight: 600;
}

.section-header.scramble-on-hover {
  pointer-events: auto;
  color: var(--color--header-2);
  cursor: default;
}

.superpowers-grid {
  grid-column-gap: .7rem;
  grid-row-gap: .7rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.superpowers-box {
  border: 1px solid var(--color--stroke);
  border-radius: var(--_desktop---corners--corners-large-d);
  background-color: var(--color--darkest-boxes);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  display: flex;
}

.superpowers-text {
  font-size: var(--_desktop---font--body-2-d);
  line-height: 1.5rem;
}

.superpowers-heading {
  color: var(--color--header-2);
  margin-top: .2rem;
  margin-bottom: .4rem;
  font-weight: 500;
  line-height: 2.1rem;
}

.superpowers-icon-background {
  aspect-ratio: 1;
  border-radius: var(--_desktop---corners--corners-small-d);
  background-color: var(--color--icon-background);
  justify-content: center;
  align-items: center;
  width: 2.7rem;
  display: flex;
}

.superpowers-icon {
  height: 56%;
}

.superpowers-icon.is3 {
  margin-left: 2px;
}

.superpowers-info {
  flex-flow: column;
  flex: 0 auto;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 3.5rem;
  display: flex;
}

.max-width-wrapper {
  z-index: 1;
  max-width: var(--max-width-d);
  cursor: default;
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  transform: translate(-50%);
}

.div-block {
  background-image: linear-gradient(#000, #fff);
}

.superpowers-box-conic {
  border: 1px solid var(--color--stroke);
  border-radius: var(--_desktop---corners--corners-large-d);
  background-color: var(--color--darkest-boxes);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  display: flex;
}

.footer-wrapper {
  background-color: var(--color--darkest-boxes);
  position: relative;
}

.rotating-text-wrapper {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  margin-bottom: 4.6rem;
  display: flex;
}

.rotating-text-accent {
  font-family: var(--_desktop---font--headers-d);
  color: var(--color--accent-text);
  letter-spacing: .05rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 400;
}

.rotating-text-heading {
  color: var(--color--header-1);
  text-transform: uppercase;
  margin-top: 2.2rem;
  margin-bottom: 0;
  font-size: 5.2rem;
  font-weight: 800;
}

.case-studies-grid {
  grid-column-gap: .7rem;
  grid-row-gap: .7rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.case-studies-box {
  border: 1px solid var(--color--stroke);
  border-radius: var(--_desktop---corners--corners-large-d);
  background-color: var(--color--darkest-boxes);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  display: block;
  position: static;
}

.image-4 {
  width: 100%;
  height: 40%;
  position: static;
  inset: 0% auto auto 0%;
}

.case-studies-image {
  aspect-ratio: 3 / 2;
  border-top-left-radius: var(--_desktop---corners--corners-large-d);
  border-top-right-radius: var(--_desktop---corners--corners-large-d);
  width: 100%;
  overflow: clip;
}

.case-study-button {
  border: .1rem solid var(--color--stroke);
  border-radius: var(--_desktop---corners--corners-small-d);
  background-color: var(--color--background);
  font-size: var(--_desktop---font--button-small-d);
  cursor: pointer;
  margin-top: 1rem;
  padding: .3125rem .75rem;
  line-height: 18px;
  transition: border-color .3s;
  display: block;
}

.case-study-button:hover {
  border-color: var(--color--paragraph);
}

.case-study-button.scramble-on-hover {
  text-align: left;
  width: 8.4rem;
}

.case-study-heading {
  color: var(--color--header-2);
  margin-top: .2rem;
  margin-bottom: .4rem;
  font-weight: 500;
  line-height: 2.1rem;
}

.case-study-text {
  font-size: var(--_desktop---font--body-2-d);
  width: 95%;
  line-height: 1.5rem;
}

.case-studies-info {
  flex-flow: column;
  flex: 0 auto;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 1.5rem;
  display: flex;
}

.icon-3 {
  opacity: .25;
  margin-left: .625rem;
  transform: scale(.6);
}

.icon-4 {
  opacity: .25;
  margin-right: .625rem;
  transform: scale(.6);
}

.slide-nav-2 {
  transform: scale(.5);
}

.case-study-slider {
  border-top-left-radius: var(--_desktop---corners--corners-large-d);
}

.slide-8 {
  background-image: url('../images/MM_Tablet_TB-CRT2-07-Joint-Restoration-Social-Series-Mock-Up-web2.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.mask-2 {
  aspect-ratio: auto;
  border-top-left-radius: var(--_desktop---corners--corners-large-d);
  border-top-right-radius: var(--_desktop---corners--corners-large-d);
  height: 18rem;
}

.slide-9 {
  background-image: url('../images/Bendito_Mockup-OTv1-iPhone-02-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-10 {
  background-image: url('../images/MockupMaison_BK_C08-Joint-Restoration-Newsletter-Mockup-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-11 {
  background-image: url('../images/MM_Magazine_MZ-C-09-Joint-Restoration-Center-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-12 {
  background-image: url('../images/Joint-Restoration-Macbook-Pro-DD-E03-Mockup_web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-13 {
  background-image: url('../images/MM_Badge_BD-SPRT-01-Waterlili-2-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-14 {
  background-image: url('../images/MM_BusinessCard_BC-SPRT-01-Waterlili-1-web.webp');
  background-position: 0 0;
  background-size: cover;
}

.slide-15 {
  background-image: url('../images/Macbook-Pro-DD-E03-Mockup-copy2-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-20 {
  background-image: url('../images/MM_Badge_BD-SPRT-02-Waterlili-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-23 {
  background-image: url('../images/MM_BusinessCard_BC-SPRT-01-Waterlili-1-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-24 {
  background-image: url('../images/MM_Badge_BD-SPRT-01-Waterlili-2-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-25 {
  background-image: url('../images/MM_Magazine_MZ-SPRT-01-Waterlili-2-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-26 {
  background-image: url('../images/MM_Phone_PH-BEA-03-Waterlili-3-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-27 {
  background-image: url('../images/MM_Tablet_TB-CRT2-07-Therapy-West-1-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-28 {
  background-image: url('../images/MM_Laptop_LT-BEA-02-copy-2-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-29 {
  background-image: url('../images/MockupMaison_BK_C08-Therapy-West-3-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-30 {
  background-image: url('../images/MM_Magazine_MZ-C-09-Therapy-West-web.webp');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.rotating-text-wrapper-mobile {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 15rem;
  margin-bottom: 4.6rem;
  display: none;
}

.rotating-text-heading-mobile {
  color: var(--color--header-1);
  text-transform: uppercase;
  margin-top: 2.2rem;
  margin-bottom: 0;
  font-size: 5.2rem;
  font-weight: 800;
}

.tech-stack-grid-wrapper {
  z-index: 10;
  margin-bottom: var(--_desktop---bottom-margin-d);
  position: relative;
}

.tech-stack-grid {
  grid-column-gap: .7rem;
  grid-row-gap: .7rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.tech-stack-box {
  z-index: 10;
  border: 1px solid var(--color--stroke);
  border-radius: var(--_desktop---corners--corners-large-d);
  background-color: var(--color--darkest-boxes);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 6.5rem;
  display: flex;
  position: relative;
}

.tech-stack-image {
  max-width: 65%;
  max-height: 27%;
  overflow: visible;
}

.tech-stack-image.figma {
  margin-top: 4px;
}

.tech-stack-image.openai {
  margin-top: 2px;
}

.footer-line-section-break-top {
  background-color: var(--color--stroke);
  width: 100vw;
  height: .05rem;
  position: absolute;
  inset: 0% 0% auto;
}

.div-block-2 {
  height: 20vh;
}

.footer-container {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-bottom: 6rem;
  display: flex;
}

.footer-button {
  border: .1rem solid var(--color--stroke);
  border-radius: var(--_desktop---corners--corners-small-d);
  background-color: var(--color--background);
  font-size: var(--_desktop---font--button-small-d);
  text-align: center;
  cursor: pointer;
  margin-top: auto;
  padding: .4rem .9rem;
  line-height: 18px;
  transition: border-color .3s;
}

.footer-button:hover {
  border-color: var(--color--paragraph);
}

.footer-button.scramble-on-hover {
  text-align: left;
  width: 8.4rem;
}

.footer-button.case-studies {
  display: none;
}

.footer-buttons-container {
  grid-column-gap: .7rem;
  grid-row-gap: .7rem;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  display: flex;
}

.footer-paragraph {
  color: var(--color--footer-text);
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 33rem;
  margin-top: 1.3rem;
  line-height: 1.7;
  transition: color .3s;
  display: flex;
}

.link {
  color: var(--color--header-2);
  transition: color .3s;
}

.link:hover {
  color: var(--color--header-1);
}

.footer-copyright-text {
  color: var(--color--accent-text);
  font-size: var(--_desktop---font--footer-copyright-d);
}

.footer-copyright-container {
  grid-column-gap: .25rem;
  grid-row-gap: .25rem;
  margin-top: 1.3rem;
  line-height: 1.25rem;
  display: flex;
}

.tech-stack-mouse-animation-medias {
  z-index: 0;
  pointer-events: none;
  min-width: 3rem;
  position: absolute;
  inset: 0% auto auto 0%;
}

.tech-stack-mouse-animation-image {
  z-index: -10;
  position: absolute;
}

.tech-stack-mouse-animation-container {
  width: 100vw;
  height: 18.4rem;
  margin-top: -3.5rem;
  margin-left: -3rem;
  position: absolute;
}

.tech-stack-section {
  padding-top: 23.5rem;
  padding-bottom: var(--_desktop---bottom-margin-d);
  cursor: default;
  width: 100%;
  margin-top: -20rem;
  margin-left: 50%;
  margin-right: 50%;
  position: relative;
  overflow: hidden;
  transform: translate(-50%);
}

.tech-stack-gradient-top {
  z-index: 1;
  background-image: linear-gradient(180deg, var(--color--background), var(--color--background) 0%, #0a0a0a00);
  pointer-events: none;
  height: 50%;
  position: absolute;
  inset: 0% 0% auto;
}

.nav-wrapper {
  z-index: 1;
  max-width: var(--max-width-d);
  cursor: default;
  width: 100%;
  margin-left: 50%;
  margin-right: 50%;
  padding-left: 3rem;
  padding-right: 3rem;
  position: relative;
  transform: translate(-50%);
}

.nav-hamburger-button, .nav-menu-full {
  display: none;
}

.nav-menu-full-items {
  line-height: 1;
}

.mobile-nav-wrapper, .nav-menu-full-link-2 {
  display: none;
}

.my-role-grid-container {
  grid-column-gap: .7rem;
  grid-row-gap: .7rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.my-role-grid-box {
  z-index: 10;
  border: 1px solid var(--color--stroke);
  border-radius: var(--_desktop---corners--corners-large-d);
  background-color: var(--color--darkest-boxes);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 6.5rem;
  display: flex;
  position: relative;
}

.my-role-icon-background {
  aspect-ratio: 1;
  border-radius: var(--_desktop---corners--corners-small-d);
  background-color: var(--color--icon-background);
  justify-content: center;
  align-items: center;
  width: 2.7rem;
  display: flex;
}

.my-role-icon {
  height: 52%;
}

.my-role-icon.is-1 {
  height: 48%;
}

.my-role-icon.is-2 {
  margin-right: 4px;
}

.my-role-icon.is-3 {
  height: 50%;
}

.my-role-text {
  font-family: var(--_desktop---font--headers-d);
  font-size: var(--_desktop---font--body-1-d);
  text-align: center;
  margin-top: .5rem;
  font-weight: 500;
}

.achievements-grid {
  grid-column-gap: .7rem;
  grid-row-gap: .7rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.achievements-box {
  border: 1px solid var(--color--stroke);
  border-radius: var(--_desktop---corners--corners-large-d);
  background-color: var(--color--darkest-boxes);
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  display: flex;
}

.achievements-box-background {
  aspect-ratio: 1;
  border-radius: var(--_desktop---corners--corners-small-d);
  background-color: var(--color--icon-background);
  justify-content: center;
  align-items: center;
  width: 2.7rem;
  display: flex;
}

.achievements-info {
  flex-flow: column;
  flex: 0 auto;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 1.4rem;
  display: flex;
}

.achievements-heading {
  color: var(--color--header-2);
  margin-top: 0;
  margin-bottom: .8rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1;
}

.achievements-text {
  font-size: .8rem;
  line-height: 1.3rem;
}

.case-study-hero {
  color: var(--color--header-2);
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 28rem;
  display: flex;
}

.case-study-header {
  color: var(--color--button-text);
  text-transform: uppercase;
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;
  font-size: 4.8rem;
  font-weight: 800;
  line-height: .7;
}

.case-study-subhead {
  font-family: var(--_desktop---font--headers-d);
  color: var(--color--header-2);
  font-size: var(--_desktop---font--header-sections-d);
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-left: 1.2vw;
  margin-right: 1.2vw;
  font-weight: 600;
}

.case-study-subhead.scramble-on-hover {
  pointer-events: auto;
  color: var(--color--footer-text);
  cursor: default;
}

.case-study-p {
  color: var(--color--paragraph);
  font-size: var(--_desktop---corners--corners-large-d);
  text-align: center;
  width: 50rem;
  margin-bottom: 1.6rem;
  line-height: 1.5;
}

.my-role-grid-wrapper {
  z-index: 10;
  margin-bottom: var(--_desktop---bottom-margin-d);
  position: relative;
}

.achievements-wrapper {
  margin-bottom: var(--_desktop---bottom-margin-d);
  justify-content: center;
  align-items: flex-start;
  display: block;
}

.case-study-gallery-section {
  margin-bottom: var(--_desktop---bottom-margin-d);
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  display: none;
}

.case-study-gallery-grid {
  grid-column-gap: .2rem;
  grid-row-gap: .2rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.case-study-gallery-img1, .case-study-gallery-img2, .case-study-gallery-img3, .case-study-gallery-img4, .case-study-gallery-img5, .case-study-gallery-img6, .case-study-gallery-img7 {
  border-radius: var(--_mobile---corners--corners-small-m);
}

.case-study-gallery-wrapper {
  width: 25rem;
  position: sticky;
  top: 0;
}

.mwg_effect008 {
  margin-bottom: var(--_desktop---bottom-margin-d);
  justify-content: center;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  display: flex;
  overflow: clip;
}

.mwg_effect008-container {
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  pointer-events: auto;
  cursor: grab;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  width: max-content;
  padding-right: 1vw;
  display: flex;
}

.mwg_effect008-card {
  aspect-ratio: 1;
  border-radius: var(--_desktop---corners--corners-small-d);
  object-fit: cover;
  width: 25vw;
}

.mwg_effect008-image-1, .mwg_effect008-image-2, .mwg_effect008-image-3, .mwg_effect008-image-4, .mwg_effect008-image-5, .mwg_effect008-image-6, .mwg_effect008-image-7 {
  border-radius: var(--_desktop---corners--corners-small-d);
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: block;
}

.mwg_effect028-container {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  pointer-events: auto;
  cursor: grab;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  width: max-content;
  padding-right: 1vw;
  display: flex;
}

.mwg_effect028-card {
  aspect-ratio: 1;
  border-top-left-radius: var(--_desktop---corners--corners-small-d);
  border-top-right-radius: var(--_desktop---corners--corners-small-d);
  border-bottom-left-radius: var(--_desktop---corners--corners-small-d);
  border-bottom-right-radius: var(--_desktop---corners--corners-small-d);
  object-fit: cover;
  transform-origin: 50% 100%;
  width: 25vw;
}

.mwg_effect028-image {
  border-radius: var(--_desktop---corners--corners-small-d);
  pointer-events: none;
  width: 100%;
  height: 100%;
  display: block;
}

.mwg_effect028 {
  margin-top: -3rem;
  margin-bottom: var(--_desktop---bottom-margin-d);
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  overflow: clip;
}

.case-study-arrow {
  width: 2.5rem;
}

.case-study-project-overview {
  margin-bottom: var(--_desktop---bottom-margin-d);
}

.case-study-overview-p {
  margin-bottom: 1rem;
  line-height: 1.4rem;
}

.case-study-more {
  margin-bottom: 6.5rem;
}

.case-study-more-grid {
  grid-column-gap: .7rem;
  grid-row-gap: .7rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.case-study-more-box {
  border: 1px solid var(--color--stroke);
  background-color: var(--color--darkest-boxes);
  border-radius: 100px;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding: .5rem;
  transition: border-color .2s;
  display: flex;
  position: relative;
}

.case-study-more-box:hover {
  border-color: var(--color--paragraph);
}

.case-study-more-circle {
  aspect-ratio: 1;
  border: 1px solid var(--color--stroke);
  border-radius: 100%;
  height: 2.5rem;
  position: absolute;
}

.case-study-more-circle-image {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}

.text-block {
  font-family: var(--_desktop---font--headers-d);
  font-size: var(--_desktop---font--button-large-d);
  text-align: center;
  flex: 1;
  margin: 7px 14px 7px 54px;
  font-weight: 500;
}

.page-transition {
  z-index: 9999;
  background-color: var(--color--background);
  width: 100%;
  height: 100vh;
  display: none;
  position: fixed;
  inset: 0%;
}

@media screen and (max-width: 991px) {
  .navbar {
    justify-content: flex-end;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .carousel-wrapper {
    display: none;
  }

  .mobile-slider {
    border-radius: 1.25rem;
    height: 70vh;
  }

  .mobile-slider-wrapper {
    margin-bottom: 2.5rem;
    display: block;
  }

  .menu-button {
    z-index: 20;
    flex: 0 auto;
    margin-right: -1.125rem;
    padding: 1.125rem;
    position: static;
    inset: 10% 0% auto auto;
  }

  .icon {
    opacity: .25;
    mix-blend-mode: overlay;
    margin-left: 12px;
    transform: scale(.6);
  }

  .icon-2 {
    opacity: .25;
    mix-blend-mode: overlay;
    margin-right: 12px;
    transform: scale(.6);
  }

  .slide-nav {
    transform: scale(.5);
  }

  .image-3 {
    object-position: 50% 50%;
    position: static;
  }

  .mask {
    border-radius: var(--_desktop---corners--corners-large-d);
    object-fit: fill;
  }

  .slide-1 {
    object-fit: fill;
    background-image: url('../images/Joint-Restoration-Macbook-Pro-DD-E03-Mockup_web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-2 {
    background-image: url('../images/MM_Badge_BD-SPRT-01-Waterlili-2-web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-3 {
    background-image: url('../images/MM_Laptop_LT-BEA-02-copy-2-web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-4 {
    background-image: url('../images/FORMAT_EDEN_IPAD_01-copy-2-web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-5 {
    background-image: url('../images/FORMAT_EDEN_02_BUSINESSCARD_07-waterlili-web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-6 {
    background-image: url('../images/MM_Tablet_TB-CRT2-07-Joint-Restoration-Social-Series-Mock-Up-web2.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mobile-slider-info {
    text-align: center;
    margin-top: .9rem;
  }

  .mobile-slider-info-heading {
    color: var(--color--header-2);
    font-size: var(--_desktop---font--header-2-d);
  }

  .mobile-slider-info-paragraph {
    font-size: 1rem;
  }

  .slide-7 {
    background-image: url('../images/Bendito_Mockup-OTv1-iPhone-02-web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .section-title {
    margin-bottom: 2.5rem;
  }

  .superpowers-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .max-width-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .rotating-text-wrapper {
    height: 16rem;
  }

  .rotating-text-accent {
    text-align: center;
    width: 80vw;
    line-height: 1.4375rem;
  }

  .rotating-text-heading {
    text-align: center;
    width: 90vw;
    margin-top: .6rem;
    line-height: 4.7rem;
  }

  .case-studies-grid {
    grid-template-columns: 1fr;
  }

  .case-study-button:hover {
    border-color: var(--color--stroke);
  }

  .case-study-text {
    text-align: center;
  }

  .case-studies-info {
    justify-content: flex-end;
    align-items: center;
  }

  .mask-2 {
    height: 27rem;
  }

  .rotating-text-wrapper-mobile {
    height: 16rem;
  }

  .rotating-text-heading-mobile {
    text-align: center;
    width: 90vw;
    margin-top: .6rem;
    line-height: 4.7rem;
  }

  .tech-stack-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .footer-container {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }

  .footer-button:hover, .footer-button.w--current:hover {
    border-color: var(--color--stroke);
  }

  .tech-stack-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .nav-wrapper {
    max-width: none;
    padding-left: 2rem;
    padding-right: 2rem;
    position: static;
  }

  .nav-hamburger-button {
    z-index: 999;
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    cursor: pointer;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 2.8rem;
    height: 2.8rem;
    padding: 10px;
    display: flex;
    position: absolute;
    inset: 1.7rem 1.7rem auto auto;
  }

  .nav-hamburger-line-top {
    z-index: 2;
    background-color: var(--color--footer-text);
    width: 100%;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
    position: relative;
  }

  .nav-hamburger-bg {
    background-color: var(--color--icon-background);
    padding-bottom: 0;
    padding-right: 0;
    position: absolute;
    inset: 0%;
  }

  .nav-menu-full {
    z-index: 999;
    background-color: var(--color--icon-background);
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 0;
    padding-right: 0;
    display: none;
    position: fixed;
    inset: 0%;
  }

  .nav-menu-full-items {
    flex-flow: column;
    justify-content: space-between;
    height: 25rem;
    line-height: 1;
    display: flex;
    position: static;
  }

  .nav-menu-full-link-1 {
    font-family: var(--_desktop---font--headers-d);
    color: var(--color--header-2);
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1;
  }

  .mobile-nav-wrapper {
    width: 100vw;
    height: 100vw;
    padding-bottom: 0;
    padding-right: 0;
    display: block;
    position: absolute;
  }

  .nav-menu-full-contain {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
  }

  .nav-menu-full-link-2, .nav-menu-full-link-3, .nav-menu-full-link-4, .nav-menu-full-link-5 {
    font-family: var(--_desktop---font--headers-d);
    color: var(--color--header-2);
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1;
  }

  .nav-hamburger-line-bottom {
    z-index: 2;
    background-color: var(--color--footer-text);
    width: 100%;
    height: 2px;
    padding-bottom: 0;
    padding-right: 0;
    position: relative;
  }

  .nav-menu-full-main-bg {
    z-index: -1;
    background-color: var(--color--background);
    position: absolute;
    inset: 0%;
  }

  .my-role-grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .achievements-grid {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
  }

  .case-study-hero {
    height: 22rem;
  }

  .case-study-header {
    text-align: center;
    width: 90vw;
    margin-top: 1rem;
    margin-bottom: 1.2rem;
    font-size: 7vw;
    line-height: 2.8rem;
  }

  .case-study-p {
    width: 80vw;
    font-size: 2vw;
  }

  .mwg_effect028-card {
    width: 40vw;
  }

  .mwg_effect028 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .case-study-more-grid {
    grid-template-columns: 1fr;
  }

  .nav-menu-full-link-6 {
    font-family: var(--_desktop---font--headers-d);
    color: var(--color--header-2);
    text-align: center;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 3.5rem;
    font-weight: 500;
    line-height: 1;
  }
}

@media screen and (max-width: 767px) {
  .mobile-slider {
    height: 70vh;
    min-height: 400px;
  }

  .superpowers-grid {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .superpowers-box {
    padding: 1.3rem;
  }

  .superpowers-text {
    font-size: var(--_mobile---font--body-1-m);
    line-height: 1.6rem;
  }

  .superpowers-heading {
    font-size: var(--_mobile---font--header-1-m);
    line-height: 1.3rem;
  }

  .max-width-wrapper {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .superpowers-box-conic {
    padding: 1.3rem;
  }

  .rotating-text-wrapper {
    height: auto;
    margin-bottom: 3.8rem;
    display: none;
  }

  .rotating-text-accent {
    width: 16.4rem;
    font-size: 1.1rem;
    line-height: 1.2rem;
  }

  .rotating-text-heading {
    width: 90vw;
    font-size: 4.6rem;
    line-height: 4rem;
  }

  .case-study-heading {
    font-size: var(--_mobile---font--header-1-m);
    line-height: 1.3rem;
  }

  .case-study-text {
    font-size: var(--_mobile---font--body-1-m);
    line-height: 1.6rem;
  }

  .mask-2 {
    height: 19rem;
  }

  .rotating-text-wrapper-mobile {
    height: auto;
    margin-bottom: 3.8rem;
    display: flex;
  }

  .rotating-text-heading-mobile {
    width: 90vw;
    font-size: 4.6rem;
    line-height: 4rem;
  }

  .tech-stack-grid {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .tech-stack-box {
    border-radius: var(--_mobile---corners--corners-large-m);
  }

  .footer-container {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .footer-paragraph, .footer-copyright-container {
    margin-top: 1rem;
  }

  .tech-stack-section, .nav-wrapper {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .nav-hamburger-button {
    top: 1.8rem;
    right: .9rem;
  }

  .nav-menu-full-items {
    height: 15rem;
  }

  .nav-menu-full-link-1 {
    font-size: 3.2rem;
    line-height: 1;
  }

  .nav-menu-full-link-1.w--current {
    font-size: 2.5rem;
  }

  .nav-menu-full-link-2, .nav-menu-full-link-3, .nav-menu-full-link-4, .nav-menu-full-link-5 {
    font-size: 2.5rem;
    line-height: 1;
  }

  .my-role-grid-container {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
  }

  .my-role-grid-box {
    border-radius: var(--_mobile---corners--corners-large-m);
  }

  .achievements-grid {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }

  .achievements-box {
    padding: 1.3rem;
  }

  .achievements-heading {
    font-size: var(--_mobile---font--header-1-m);
    line-height: 1.3rem;
  }

  .achievements-text {
    font-size: var(--_mobile---font--body-1-m);
    line-height: 1.6rem;
  }

  .case-study-hero {
    height: 17rem;
  }

  .case-study-header {
    width: 90vw;
    margin-top: .3rem;
    margin-bottom: .5rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  .case-study-arrow {
    display: none;
  }

  .case-study-overview-p {
    font-size: var(--_mobile---font--body-1-m);
    line-height: 1.3rem;
  }

  .case-study-overview-p.is-1 {
    display: none;
  }

  .case-study-more {
    margin-bottom: 4.5rem;
  }

  .nav-menu-full-link-6 {
    font-size: 2.5rem;
    line-height: 1;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    margin-top: 1.5vh;
    margin-bottom: 1vh;
    padding-top: 4vh;
    padding-bottom: 4vh;
  }

  .link-block.w--current {
    width: 11rem;
  }

  .mobile-slider {
    height: 50vh;
    min-height: 300px;
  }

  .mask {
    border-radius: var(--_mobile---corners--corners-large-m);
  }

  .mobile-slider-info {
    margin-top: 1rem;
  }

  .mobile-slider-info-heading {
    color: var(--color--header-2);
  }

  .mobile-slider-info-paragraph {
    font-size: var(--_mobile---font--body-1-m);
  }

  .section-header {
    font-size: var(--_mobile---font--header-sections-m);
    letter-spacing: 1px;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .superpowers-box {
    border-radius: var(--_mobile---corners--corners-large-m);
    padding: 1rem;
  }

  .superpowers-text {
    line-height: 1.3rem;
  }

  .superpowers-info {
    margin-top: 2.2rem;
  }

  .max-width-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .rotating-text-wrapper {
    height: 17rem;
  }

  .rotating-text-accent {
    width: 70vw;
    font-size: 5vw;
    line-height: 1.2;
  }

  .rotating-text-heading {
    opacity: 1;
    word-wrap: break-word;
    white-space: pre-line;
    justify-content: center;
    align-items: center;
    width: 90vw;
    min-height: 2.8em;
    max-height: 2.8em;
    font-size: 15.5vw;
    line-height: .95;
    display: block;
    overflow: hidden;
  }

  .case-studies-box {
    border-radius: var(--_mobile---corners--corners-large-m);
  }

  .case-studies-image {
    border-top-left-radius: var(--_mobile---corners--corners-large-m);
    border-top-right-radius: var(--_mobile---corners--corners-large-m);
  }

  .case-study-button {
    font-size: var(--_mobile---font--button-small-m);
    text-align: center;
    width: 100%;
    margin-top: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .case-study-heading {
    font-size: var(--_mobile---font--header-1-m);
    margin-top: .1rem;
    margin-bottom: .6rem;
  }

  .case-study-text {
    font-size: var(--_mobile---font--body-1-m);
    line-height: 1.3rem;
  }

  .case-studies-info {
    padding: 1.2rem 1rem 1.1rem;
  }

  .mask-2 {
    border-top-left-radius: var(--_mobile---corners--corners-large-m);
    border-top-right-radius: var(--_mobile---corners--corners-large-m);
  }

  .slide-15 {
    background-image: url('../images/Macbook-Pro-DD-E03-Mockup-copy2-web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-16 {
    background-image: url('../images/MM_Tablet_TB-CRT2-07-Therapy-West-1-web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-17 {
    background-image: url('../images/MM_Laptop_LT-BEA-02-copy-2-web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-18 {
    background-image: url('../images/MockupMaison_BK_C08-Therapy-West-3-web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-19 {
    background-image: url('../images/MM_Magazine_MZ-C-09-Therapy-West-web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-20 {
    background-image: url('../images/MM_Badge_BD-SPRT-02-Waterlili-web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-21 {
    background-image: url('../images/MM_Phone_PH-BEA-03-Waterlili-3-web.webp');
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide-22 {
    background-image: url('../images/MM_Magazine_MZ-SPRT-01-Waterlili-2-web.webp');
    background-position: 0 0;
    background-size: auto;
  }

  .rotating-text-wrapper-mobile {
    height: 17rem;
  }

  .rotating-text-heading-mobile {
    opacity: 1;
    word-wrap: break-word;
    white-space: pre-line;
    justify-content: center;
    align-items: center;
    width: 90vw;
    min-height: 2.8em;
    max-height: 2.8em;
    font-size: 15.5vw;
    line-height: .95;
    display: block;
    overflow: hidden;
  }

  .tech-stack-grid {
    grid-template-columns: 1fr 1fr;
  }

  .tech-stack-box {
    height: 5.5rem;
  }

  .footer-container {
    padding-top: 3.5rem;
    padding-bottom: 4rem;
  }

  .footer-button {
    font-size: var(--_mobile---font--button-large-m);
    text-align: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .footer-buttons-container {
    grid-column-gap: .5rem;
    grid-row-gap: .5rem;
    flex-flow: column;
    width: 100%;
  }

  .footer-paragraph {
    font-size: var(--_mobile---font--body-1-m);
    width: 90%;
    max-width: 17.5rem;
    margin-top: 1.4rem;
    line-height: 1.6;
  }

  .footer-copyright-text {
    text-align: center;
  }

  .footer-copyright-container {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    flex-flow: column;
    margin-top: 1rem;
  }

  .tech-stack-section, .nav-wrapper {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .nav-hamburger-button {
    top: 1.5rem;
    right: .7rem;
  }

  .nav-menu-full-items {
    height: 40%;
    min-height: 15rem;
  }

  .nav-menu-full-link-1, .nav-menu-full-link-1.w--current, .nav-menu-full-link-2, .nav-menu-full-link-3, .nav-menu-full-link-4, .nav-menu-full-link-5 {
    font-size: 2rem;
  }

  .my-role-grid-container {
    grid-template-columns: 1fr 1fr;
  }

  .my-role-grid-box {
    height: 5.5rem;
  }

  .my-role-icon-background {
    width: 2.2rem;
  }

  .achievements-box {
    border-radius: var(--_mobile---corners--corners-large-m);
    padding: 1rem;
  }

  .achievements-info {
    margin-top: 2.2rem;
  }

  .achievements-text {
    line-height: 1.3rem;
  }

  .case-study-header {
    opacity: 1;
    word-wrap: break-word;
    white-space: pre-line;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 85vw;
    max-height: 2.8em;
    font-size: 10vw;
    line-height: .95;
    display: block;
    overflow: hidden;
  }

  .case-study-subhead {
    font-size: var(--_mobile---font--header-sections-m);
    letter-spacing: 1px;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .case-study-p {
    width: 85vw;
    font-size: .8rem;
    line-height: 1.6;
  }

  .my-role-grid-wrapper {
    margin-top: -1rem;
  }

  .mwg_effect028-card {
    width: 90vw;
  }

  .mwg_effect028 {
    margin-top: -1.5rem;
  }

  .text-span {
    display: none;
  }

  .case-study-overview-p {
    text-align: center;
    line-height: 1.2rem;
  }

  .case-study-more {
    margin-bottom: 3.9rem;
  }

  .case-study-more-box {
    border-radius: 100px;
  }

  .text-block {
    font-size: var(--_desktop---font--body-1-d);
  }

  .nav-menu-full-link-6 {
    font-size: 2rem;
  }
}


